/* Elements */

body {
	padding-left: var(--rem-3);
	padding-right: var(--rem-3);
	margin: 0;
}

hr {
	border-bottom: 1px solid lightgrey;
}

code {
	border: 1px solid;
	cursor: text;
}

p>code {
	padding-left: var(--rem--2);
	padding-right: var(--rem--2);
}

:not(p)>code {
	padding: var(--rem-1);
	overflow-x: scroll;
}

/* Component spacing */

.Section__Title {
	/* margin-bottom: var(--rem-4); */
	font-size: var(--font-size-h3);
}

.Section__Content {
	margin-bottom: var(--rem-6);
}

.Section__Text {
	margin-bottom: var(--rem-5);
	text-align: center;
}


/* Components */

.Button {
	margin-top: var(--rem-2);
}

.Section {
	/* --spacing: var(--spacing-4); */
}

.Button {
	border: 1px solid;
	border-color: var(--border-color);
	padding: var(--rem-1);
	display: table;
	margin-left: auto;
	margin-right: auto;
	text-decoration: none;
	/* border-radius: 9999px; */
}

.Button:hover {
	background-color: hsla(0, 0%, 50%, 0.5);;
}

.Header {
	display: flex;

	height: var(--rem-8);
	/* padding: var(--rem-6) 0; */
	border-bottom: 1px solid lightgrey;
	flex-wrap: wrap;
	flex-direction: column;
	place-content: center;
}

.Header > * {
	/* flex-grow: 1; */
	flex-basis: 0;
	/* margin-top: 0; */
	/* margin-bottom: 0; */
}

.Header .Header_Name {
	margin-top: 0;
	font-size: var(--font-size-5);
	text-align: center;
	margin-bottom: var(--em--1);
}

.Header .Header_Tagline {
	text-align: center;
	margin-top: 0;
}

.Container {
	margin-top: var(--rem-5);
}

.Container>.Section:not(:last-child) {
	/* border-bottom: 1px solid lightgrey; */
	/* padding-left: var(--spacing-3); */
	/* padding-right: var(--spacing-3); */
	/* padding-bottom: var(--spacing-5); */
	/* margin-left: calc(0px - var(--spacing-3)); */
	/* margin-right: calc(0px - var(--spacing-3)); */
}
