/* Remove default border from hr */

* {
    margin: unset;
	box-sizing: border-box;
}

hr {
	border: none;
	margin-bottom: unset;
}

code {
	/* Need a way to correct line-height. */
	/* font-size: 0.9em; */
	vertical-align: inherit;

	/* Random bug where square appears in top right hand corner? */
	-webkit-appearance: none;

	/* Tries to normalize size of font family */
	font-size: 0.9em;
}

:not(p)>code {
	display: block;
}
