/* Remove margin from pre tag */
pre {
	margin: 0;
}

/* h1, h2, h3, h4, h5, h6 {
	margin-bottom: var(--em-1);
} */

body {
	/* --spacing: var(--em-1); */
}

hr {
	margin-bottom: var(--em-5);
}

code {
	margin-bottom: var(--em-2);
}

