/* Type sizing */

@media (max-width: 600px) {
	:root {
		--font-ratio: 1.2;
	}

}

body {
	font-size: var(--type-body);
}

h1 {
	font-size: var(--type-h1);
}

h2 {
	font-size: var(--type-h2);
}

h3 {
	font-size: var(--type-h3);
}

h4 {
	font-size: var(--type-h4);
}

h5 {
	font-size: var(--type-h5);
}

h6 {
	font-size: var(--type-h6);
}

p {
	font-size: var(--type-p);
}

blockquote {
	font-size: var(--type-blockquote);
}

ul {
	font-size: var(--type-ul);
}

ol {
	font-size: var(--type-ol);
}
