* {
	margin: unset;
	padding: unset;
	box-sizing: border-box;
}

html {
	height: 100%;
}

body {
	min-height: 100%;
}

hr {
	border: none;
	margin-bottom: unset;
}

a {
	display: inline;
}

img {
	width: 100%;
	height: auto;
}

code {
	vertical-align: inherit; /* Because vertical baseline needs to match paragrah */
	font-size: 0.9em; /* Because monospace usually appears bigger than non monospaced fonts */
}

div>code {
	display: block; /* When code is used as a block? */
}

pre>code {
	display: block;
}

iframe {
	display: block;
}

* {
	margin: unset;
	padding: unset;
	box-sizing: border-box;
}

hr {
	border: none;
	margin-bottom: unset;
}

pre {
	font-family: inherit;
}

a {
	display: inline;
}

img {
	height: auto;
}

/* leading-trim.css */

:root {
	--true: '';
	--false: unset;

	/* Customize these options */
	--leading-trim-over-ammount: 0.5em;
	--leading-trim-under-ammount: 0.5em;
	--font-height: 0.75;
	--line-height: var(--line-ratio);
}

::before, ::after {
	display: block;
	height: 0;
	width: 0;
}

::before {
	content: var(--leading-trim, var(--leading-trim-over, var(--false)));
	margin-bottom: calc((var(--font-height) - var(--line-height, 1)) * var(--leading-trim-over-ammount));
}

::after {
	content: var(--leading-trim, var(--leading-trim-under, var(--false)));
	margin-top: calc((var(--font-height) - var(--line-height, 1)) * var(--leading-trim-under-ammount));
}

*>* {
	--leading-trim: var(--false);
	--leading-trim-over: var(--false);
	--leading-trim-under: var(--false);
}

/* @-moz-document url-prefix() {} */

.type-guide blockquote, .type-guide p, .type-guide ul, .type-guide ol, .type-guide h1, .type-guide h2, .type-guide h3, .type-guide h4, .type-guide h5, .type-guide h6, .type-guide nav, .type-guide div > code, .type-guide div > a, .type-guide .Button, .type-guide pre  {
	display: flow-root;
	background-color: hsla(187, 100%, 76%, 0.12);
}

/* Font sizes and spacing scales */

:root {
    --font-size--2: calc(1rem * (1 / (var(--font-ratio) * var(--font-ratio))));
    --font-size--1: calc(1rem * (1 / (var(--font-ratio))));
    --font-size-0: calc(1rem * 1);
    --font-size-1: calc(1rem * (var(--font-ratio)));
    --font-size-2: calc(1rem * (var(--font-ratio) * var(--font-ratio)));
    --font-size-3: calc(1rem * (var(--font-ratio) * var(--font-ratio) * var(--font-ratio)));
    --font-size-4: calc(1rem * (var(--font-ratio) * var(--font-ratio) * var(--font-ratio) * var(--font-ratio)));
    --font-size-5: calc(1rem * (var(--font-ratio) * var(--font-ratio) * var(--font-ratio) * var(--font-ratio) * var(--font-ratio)));
    --font-size-6: calc(1rem * (var(--font-ratio) * var(--font-ratio) * var(--font-ratio) * var(--font-ratio) * var(--font-ratio) * var(--font-ratio)));
    --font-size-7: calc(1rem * (var(--font-ratio) * var(--font-ratio) * var(--font-ratio) * var(--font-ratio) * var(--font-ratio) * var(--font-ratio) * var(--font-ratio)));
    --font-size-8: calc(1rem * (var(--font-ratio) * var(--font-ratio) * var(--font-ratio) * var(--font-ratio) * var(--font-ratio) * var(--font-ratio) * var(--font-ratio) * var(--font-ratio)));
    --font-size-9: calc(1rem * (var(--font-ratio) * var(--font-ratio) * var(--font-ratio) * var(--font-ratio) * var(--font-ratio) * var(--font-ratio) * var(--font-ratio) * var(--font-ratio) * var(--font-ratio)));
    --font-size-10: calc(1rem * (var(--font-ratio) * var(--font-ratio) * var(--font-ratio) * var(--font-ratio) * var(--font-ratio) * var(--font-ratio) * var(--font-ratio) * var(--font-ratio) * var(--font-ratio) * var(--font-ratio)));
	--font-size-em--2: calc(1em * (1 / (var(--font-ratio) * var(--font-ratio))));
	--font-size-em--1: calc(1em * (1 / (var(--font-ratio))));
	--font-size-em-0: calc(1em * 1);
	--font-size-em-1: calc(1em * (var(--font-ratio)));
	--font-size-em-2: calc(1em * (var(--font-ratio) * var(--font-ratio)));
	--font-size-em-3: calc(1em * (var(--font-ratio) * var(--font-ratio) * var(--font-ratio)));
	--font-size-em-4: calc(1em * (var(--font-ratio) * var(--font-ratio) * var(--font-ratio) * var(--font-ratio)));
	--font-size-em-5: calc(1em * (var(--font-ratio) * var(--font-ratio) * var(--font-ratio) * var(--font-ratio) * var(--font-ratio)));
	--font-size-em-6: calc(1em * (var(--font-ratio) * var(--font-ratio) * var(--font-ratio) * var(--font-ratio) * var(--font-ratio) * var(--font-ratio)));
	--font-size-em-7: calc(1em * (var(--font-ratio) * var(--font-ratio) * var(--font-ratio) * var(--font-ratio) * var(--font-ratio) * var(--font-ratio) * var(--font-ratio)));
	--font-size-em-8: calc(1em * (var(--font-ratio) * var(--font-ratio) * var(--font-ratio) * var(--font-ratio) * var(--font-ratio) * var(--font-ratio) * var(--font-ratio) * var(--font-ratio)));
	--font-size-em-9: calc(1em * (var(--font-ratio) * var(--font-ratio) * var(--font-ratio) * var(--font-ratio) * var(--font-ratio) * var(--font-ratio) * var(--font-ratio) * var(--font-ratio) * var(--font-ratio)));
	--font-size-em-10: calc(1em * (var(--font-ratio) * var(--font-ratio) * var(--font-ratio) * var(--font-ratio) * var(--font-ratio) * var(--font-ratio) * var(--font-ratio) * var(--font-ratio) * var(--font-ratio) * var(--font-ratio)));
    --em--2: calc(1em * (1 / (var(--line-ratio) * var(--line-ratio))));
    --em--1: calc(1em * (1 / (var(--line-ratio))));
    --em-0: calc(1em * 1);
    --em-1: calc(1em * (var(--line-ratio)));
    --em-2: calc(1em * (var(--line-ratio) * var(--line-ratio)));
    --em-3: calc(1em * (var(--line-ratio) * var(--line-ratio) * var(--line-ratio)));
    --em-4: calc(1em * (var(--line-ratio) * var(--line-ratio) * var(--line-ratio) * var(--line-ratio)));
    --em-5: calc(1em * (var(--line-ratio) * var(--line-ratio) * var(--line-ratio) * var(--line-ratio) * var(--line-ratio)));
    --em-6: calc(1em * (var(--line-ratio) * var(--line-ratio) * var(--line-ratio) * var(--line-ratio) * var(--line-ratio) * var(--line-ratio)));
    --em-7: calc(1em * (var(--line-ratio) * var(--line-ratio) * var(--line-ratio) * var(--line-ratio) * var(--line-ratio) * var(--line-ratio) * var(--line-ratio)));
    --em-8: calc(1em * (var(--line-ratio) * var(--line-ratio) * var(--line-ratio) * var(--line-ratio) * var(--line-ratio) * var(--line-ratio) * var(--line-ratio) * var(--line-ratio)));
    --em-9: calc(1em * (var(--line-ratio) * var(--line-ratio) * var(--line-ratio) * var(--line-ratio) * var(--line-ratio) * var(--line-ratio) * var(--line-ratio) * var(--line-ratio) * var(--line-ratio)));
    --em-10: calc(1em * (var(--line-ratio) * var(--line-ratio) * var(--line-ratio) * var(--line-ratio) * var(--line-ratio) * var(--line-ratio) * var(--line-ratio) * var(--line-ratio) * var(--line-ratio) * var(--line-ratio)));
	--rem--2: calc(1rem * var(--spacing-ratio) * (1 / (var(--line-ratio) * var(--line-ratio))));
	--rem--1: calc(1rem * var(--spacing-ratio) * (1 / (var(--line-ratio))));
	--rem-0: calc(1rem * var(--spacing-ratio) * 1);
	--rem-1: calc(1rem * var(--spacing-ratio) * (var(--line-ratio)));
	--rem-2: calc(1rem * var(--spacing-ratio) * (var(--line-ratio) * var(--line-ratio)));
	--rem-3: calc(1rem * var(--spacing-ratio) * (var(--line-ratio) * var(--line-ratio) * var(--line-ratio)));
	--rem-4: calc(1rem * var(--spacing-ratio) * (var(--line-ratio) * var(--line-ratio) * var(--line-ratio) * var(--line-ratio)));
	--rem-5: calc(1rem * var(--spacing-ratio) * (var(--line-ratio) * var(--line-ratio) * var(--line-ratio) * var(--line-ratio) * var(--line-ratio)));
	--rem-6: calc(1rem * var(--spacing-ratio) * (var(--line-ratio) * var(--line-ratio) * var(--line-ratio) * var(--line-ratio) * var(--line-ratio) * var(--line-ratio)));
	--rem-7: calc(1rem * var(--spacing-ratio) * (var(--line-ratio) * var(--line-ratio) * var(--line-ratio) * var(--line-ratio) * var(--line-ratio) * var(--line-ratio) * var(--line-ratio)));
	--rem-8: calc(1rem * var(--spacing-ratio) * (var(--line-ratio) * var(--line-ratio) * var(--line-ratio) * var(--line-ratio) * var(--line-ratio) * var(--line-ratio) * var(--line-ratio) * var(--line-ratio)));
	--rem-9: calc(1rem * var(--spacing-ratio) * (var(--line-ratio) * var(--line-ratio) * var(--line-ratio) * var(--line-ratio) * var(--line-ratio) * var(--line-ratio) * var(--line-ratio) * var(--line-ratio) * var(--line-ratio)));
	--rem-10: calc(1rem * var(--spacing-ratio) * (var(--line-ratio) * var(--line-ratio) * var(--line-ratio) * var(--line-ratio) * var(--line-ratio) * var(--line-ratio) * var(--line-ratio) * var(--line-ratio) * var(--line-ratio) * var(--line-ratio)))
}

html {
    font-size: var(--font-base);
}

body {
	font-size: var(--font-size-body);
	line-height: var(--line-ratio);
	-moz-tab-size: var(--tab-size);
	  -o-tab-size: var(--tab-size);
	     tab-size: var(--tab-size);
	font-family: var(--font-family-body);
	letter-spacing: var(--letter-spacing-body);
}

h1,
h2,
h3,
h4,
h5,
h6 {
	font-family: var(--font-family-heading);
	letter-spacing: var(--letter-spacing-heading);
	font-weight: var(--font-weight-heading);
}

code {
	font-family: var(--font-family-code);
}

h1 {
	font-size: var(--font-size-h1);
}

h2 {
	font-size: var(--font-size-h2);
}

h3 {
	font-size: var(--font-size-h3);
}

h4 {
	font-size: var(--font-size-h4);
}

h5 {
	font-size: var(--font-size-h5);
}

h6 {
	font-size: var(--font-size-h6);
}

blockquote {
	font-size: var(--font-size-blockquote);
}

small {
	font-size: var(--font-size-small);
}

/* Gap prop */

[gap] {
	--gap: var(--rem-1);
}

[gap]>*>* {
	--gap: initial;
}

[gap]>*+* {
	margin-top: var(--gap);
}

[gap="1"] {
	--gap: var(--rem-1);
}

[gap="2"] {
	--gap: var(--rem-2);
}

[gap="3"] {
	--gap: var(--rem-3);
}

[gap="4"] {
	--gap: var(--rem-4);
}

[gap="5"] {
	--gap: var(--rem-5);
}

/* Variables */

:root {
	--font-base: 16px;
	--font-ratio: 1.333;
	--line-ratio: 1.5;
	--spacing-ratio: 1;
	--font-height: 0.75;
}

:root {
	--tab-size: 2;
	--letter-spacing-body: -0.03em;
	--letter-spacing-heading: -0.03em;
	--font-family-body: Helvetica, sans-serif;
	--font-family-heading: Helvetica, sans-serif;
	--font-family-code: "Andale Mono", monospace;
	--font-weight-heading: bold;
}

:root {
	--font-size-body: var(--font-size-0);
	--font-size-h1: var(--font-size-7);
	--font-size-h2: var(--font-size-5);
	--font-size-h3: var(--font-size-4);
	--font-size-h4: var(--font-size-2);
	--font-size-h5: var(--font-size-1);
	--font-size-h6: var(--font-size-0);
	--font-size-blockquote: var(--font-size-body);
}

:root {
	--border-color-code: grey;
}

/* Leading Trimming */

h1, h2, h3, h4, blockquote {
	--leading-trim: var(--true);
}

/* Text Spacing */

*+* {
	margin-top: var(--em-1);
}

html, body, section, div, a {
	margin-top: unset;
	margin-bottom: unset;
}

h1, h2, h3, h4, h5, h6 {
	margin-bottom: var(--em-1);
}

hr {
	margin-top: var(--rem-5);
	margin-bottom: var(--rem-5);
}

h1, h2, h3, h4, h5 {
	margin-top: var(--em-2);
	margin-bottom: var(--em-2);
}

h6 {
	margin-top: var(--em-3);
}

