:root {
	--true: initial;
	--false: false;
}

:root {
	--font-base: 16px;
	--font-ratio: 1.333;
	--line-ratio: 1.5;
	--spacing-ratio: 1;
	--text-crop: var(--true);
	--font-height: 0.75;
}

:root {
	--tab-size: 2;
	--letter-spacing-body: -0.03em;
	--letter-spacing-heading: -0.03em;
	--font-family-body: Helvetica, sans-serif;
	--font-family-heading: Helvetica, sans-serif;
	--font-family-code: "Andale Mono", monospace;
}

:root {
	--border-color-code: grey;
}

:root {
    /* Font sizes and spacing scales */
    @for $i from -2 to 10 {
    --font-size-$(i): calc(1rem * pow(var(--font-ratio), $(i)));
    }

    @for $i from -2 to 10 {
    --em-$(i): calc(1em * pow(var(--line-ratio), $(i)));
	}

	@for $i from -2 to 10 {
	--rem-$(i): calc(1rem * var(--spacing-ratio) * pow(var(--line-ratio), $(i)));
	}
}

:root {
	--font-size-body: var(--font-size-0);
	--font-size-h1: var(--font-size-7);
	--font-size-h2: var(--font-size-5);
	--font-size-h3: var(--font-size-3);
	--font-size-h4: var(--font-size-2);
	--font-size-h5: var(--font-size-1);
	--font-size-h6: var(--font-size-0);
	--font-size-p: var(--font-size-body);
	--font-size-ul: var(--font-size-body);
	--font-size-ol: var(--font-size-ul);
	--font-size-blockquote: var(--font-size-body);
}

/* Reset base font */

html {
    font-size: var(--font-base);
}

/* Apply line height to all elements */

body {
    line-height: var(--line-ratio);
}

/* Element spacing */

* {
	margin-top: var(--em-1);
}

h1, h2, h3, h4, h5, h5, h6 {
	margin-bottom: var(--em-1);
}

html, body, section, div {
	margin-top: unset;
	margin-bottom: unset;
}

/* Needs to more specific than most resets */

blockquote, p, h1, h2, h3, h4, h5, h6, nav, div > a, .Button, pre {
    display: flow-root;
}

blockquote, p, li, h1, h2, h3, h4, h5, h6, nav, div > a, .Button, pre {

    &::before,
    &::after {
        content: '';
        display: block;
        height: 0;
        width: 0;
    }

    &::before {
        margin-bottom: var(--text-crop, calc((var(--font-height) - var(--line-ratio, 1)) * 0.5em));
    }

    &::after {
        margin-top: var(--text-crop, calc((var(--font-height) - var(--line-ratio, 1)) * 0.5em));
    }
}

@-moz-document url-prefix() {
	blockquote, p, li, h1, h2, h3, h4, h5, h6, nav, div > a, .Button, pre {

		&::before {
			margin-bottom: var(--text-crop, calc((var(--font-height) - var(--line-ratio, 1)) * 0.4em));
		}

		&::after {
			margin-top: var(--text-crop, calc((var(--font-height) - var(--line-ratio, 1)) * 0.6em));
		}
	}
}

.type-guide blockquote, .type-guide p, .type-guide ul, .type-guide ol, .type-guide h1, .type-guide h2, .type-guide h3, .type-guide h4, .type-guide h5, .type-guide h6, .type-guide nav, .type-guide div > code, .type-guide div > a, .type-guide .Button, .type-guide pre  {
    background: hsla(187, 100%, 76%, 0.12);
}






/* stuff */
/* Type sizing */

@media (max-width: 600px) {
	:root {
		--font-ratio: 1.2;
	}

}

body {
	font-size: var(--font-size-body);
}

h1 {
	font-size: var(--font-size-h1);
}

h2 {
	font-size: var(--font-size-h2);
}

h3 {
	font-size: var(--font-size-h3);
}

h4 {
	font-size: var(--font-size-h4);
}

h5 {
	font-size: var(--font-size-h5);
}

h6 {
	font-size: var(--font-size-h6);
}

p {
	font-size: var(--font-size-p);
}

ul {
	font-size: var(--font-size-ul);
}

ol {
	font-size: var(--font-size-ol);
}

blockquote {
	font-size: var(--font-size-blockquote);
}

small {
	font-size: var(--font-size--1);
}
