/* Gap prop */

[gap] {
	--gap: var(--rem-1);
}

[gap]>*>* {
	--gap: initial;
}

[gap]>*+* {
	margin-top: var(--gap);
}

[gap="1"] {
	--gap: var(--rem-1);
}

[gap="2"] {
	--gap: var(--rem-2);
}

[gap="3"] {
	--gap: var(--rem-3);
}

[gap="4"] {
	--gap: var(--rem-4);
}

[gap="5"] {
	--gap: var(--rem-5);
}



