/* leading-trim.css */
* {
	--leading-trim-over-adjustment: 0em;
	--leading-trim-under-adjustment: 0em;
	--line-height: var(--line-ratio);

	--unset: unset;
	--leading-trim: var(--unset);
  	--leading-trim-over: var(--unset);
  	--leading-trim-under: var(--unset);
}

::before, ::after {
	display: block;
}

::before {
	content: var(--leading-trim, var(--leading-trim-over, unset));
	margin-bottom: calc((var(--cap-height) - var(--line-height, 1)) * 0.5em - var(--leading-trim-over-adjustment));
}

::after {
	content: var(--leading-trim, var(--leading-trim-under, unset));
	margin-top: calc((var(--cap-height) - var(--line-height, 1)) * 0.5em - var(--leading-trim-under-adjustment));
}

/* @-moz-document url-prefix() {} */

.type-guide blockquote, .type-guide p, .type-guide ul, .type-guide ol, .type-guide h1, .type-guide h2, .type-guide h3, .type-guide h4, .type-guide h5, .type-guide h6, .type-guide nav, .type-guide div > code, .type-guide div > a, .type-guide .Button, .type-guide pre  {
	display: flow-root;
	/* padding-top: 0.02px; */
	/* padding-bottom: 0.02px; */
	background-color: hsla(187, 100%, 76%, 0.12);
}


