/* Remove margins from all elements */
* {
	margin: unset;
	padding: unset;
	box-sizing: border-box;
}

/* To solve issue of footer content not being fixed to bottom */
html {
	height: 100%;
}

body {
	min-height: 100%;
}

a {
	display: inline;
}

code {
	vertical-align: inherit; /* Because vertical baseline needs to match paragrah */
	font-size: 0.9em; /* Because monospace usually appears bigger than non monospaced fonts */
}

div>code {
	display: block; /* When code is used as a block? */
}

pre>code {
	display: block;
}


iframe {
	display: block;
}

/* Remove border from hr */
hr {
	border: none;
}

/* If used inside code then it will inherit it's font-family */
pre {
	font-family: inherit;
}
/* Give inline elements nested in links a pointer cursor */
a code {
	cursor: pointer;
}

/* Images automatically calculate height from ratio of dimensions on html tag */
img {
	width: 100%;
	height: auto;
}
