* {
	margin: unset;
	padding: unset;
	box-sizing: border-box;
}

html {
	height: 100%;
}

body {
	min-height: 100%;
}

hr {
	border: none;
	margin-bottom: unset;
}


a {
	display: inline;
}


img {
	width: 100%;
	height: auto;
}

code {
	vertical-align: inherit; /* Because vertical baseline needs to match paragrah */
	font-size: 0.9em; /* Because monospace usually appears bigger than non monospaced fonts */
}

div>code {
	display: block; /* When code is used as a block? */
}

pre>code {
	display: block;
}

iframe {
	display: block;
}







* {
	margin: unset;
	padding: unset;
	box-sizing: border-box;
}

hr {
	border: none;
	margin-bottom: unset;
}



pre {
	font-family: inherit;
}

a {
	display: inline;
}


img {
	height: auto;
}
