:root {
    /* Base values */
    --root-size: 16px;
    --line-ratio: 1.5;
    --font-ratio: 1.333;

    /* Font height */
    --font-height: 0.75;

    /* Font sizes and spacing scales */

    @for $i from -2 to 10 {
    --font-size-$(i): calc(1rem * pow(var(--font-ratio), $(i)));
    }
       
    @for $i from -2 to 10 {
    --spacing-$(i): calc(1rem * pow(var(--line-ratio), $(i)));
    }

    /* --spacing-0: 0; */
}

/* Reset base font */

html {
    font-size: var(--root-size);
}

/* Apply line height to all elements */

body {
    line-height: var(--line-ratio);
}



* {
    margin-bottom: unset;
}

/* Needs to more specific than most resets */

body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video, hr {
    margin-top: var(--spacing);
}

blockquote, p, ul, ol, h1, h2, h3, h4, h5, h6, nav, div > code, div > a, .Button {

    /* display: table; */
    display: flow-root;
    background: rgba(20,230,245,0.1);

    &::before,
    &::after {
        content: '';
        display: block;
        height: 0;
        width: 0;
    }

    &::before {
        margin-bottom: calc((var(--font-height) - var(--line-ratio, 1)) * 0.5em);
    }

    &::after {
        margin-top: calc((var(--font-height) - var(--line-ratio, 1)) * 0.5em);


        /* ^ Causing some issues with how the height is calculated. Adding display: table fixes this but causes some other issues also */
    }

    

    

}