:root {
	--true: initial;
	--false: false;
}

:root {
    /* Base values */
    --font-base: 16px;
    --line-ratio: 1.5;
    --font-ratio: 1.333;

    /* Font height */
    --font-height: 0.75;

    /* Spacing ratio */
	--spacing-ratio: 1;
	--text-crop: var(--true);


    /* Font sizes and spacing scales */

    @for $i from -2 to 10 {
    --font-size-$(i): calc(var(--font-base) * pow(var(--font-ratio), $(i)));
    }

    @for $i from -2 to 10 {
    --em-$(i): calc(1em * pow(var(--line-ratio), $(i)));
	}

	@for $i from -2 to 10 {
	--rem-$(i): calc(1rem * var(--spacing-ratio) * pow(var(--line-ratio), $(i)));
	}

    /* --em-0: 0; */
}

:root {
	--type-body: var(--font-size-0);
	--type-h1: var(--font-size-7);
	--type-h2: var(--font-size-5);
	--type-h3: var(--font-size-3);
	--type-h4: var(--font-size-2);
	--type-h5: var(--font-size-1);
	--type-h6: var(--font-size-0);
	--type-p: var(--type-body);
	--type-blockquote: var(--type-body);
	--type-ul: var(--type-body);
	--type-ol: var(--type-ul);
}

/* Reset base font */

html {
    font-size: var(--font-base);
}

/* Apply line height to all elements */

body {
    line-height: var(--line-ratio);
}

/* Element spacing */

* {
	margin-top: var(--em-1);
}

h1, h2, h3, h4, h5, h5, h6 {
	margin-bottom: var(--em-1);
}

html, body, section, div {
	margin-top: unset;
	margin-bottom: unset;
}

/* Needs to more specific than most resets */

blockquote, p, h1, h2, h3, h4, h5, h6, nav, div > a, .Button, pre {
    display: flow-root;
}

blockquote, p, li, h1, h2, h3, h4, h5, h6, nav, div > a, .Button, pre {

    &::before,
    &::after {
        content: '';
        display: block;
        height: 0;
        width: 0;
    }

    &::before {
        margin-bottom: var(--text-crop, calc((var(--font-height) - var(--line-ratio, 1)) * 0.5em));
    }

    &::after {
        margin-top: var(--text-crop, calc((var(--font-height) - var(--line-ratio, 1)) * 0.5em));
    }
}

@-moz-document url-prefix() {
	blockquote, p, li, h1, h2, h3, h4, h5, h6, nav, div > a, .Button, pre {

		&::before {
			margin-bottom: var(--text-crop, calc((var(--font-height) - var(--line-ratio, 1)) * 0.4em));
		}

		&::after {
			margin-top: var(--text-crop, calc((var(--font-height) - var(--line-ratio, 1)) * 0.6em));
		}
	}
}

.type-guide blockquote, .type-guide p, .type-guide ul, .type-guide ol, .type-guide h1, .type-guide h2, .type-guide h3, .type-guide h4, .type-guide h5, .type-guide h6, .type-guide nav, .type-guide div > code, .type-guide div > a, .type-guide .Button, .type-guide pre  {
    background: hsla(187, 100%, 76%, 0.12);
}
