:root {
    /* Base values */
    --root-size: 16px;
    --line-ratio: 1.5;
    --font-ratio: 1.333;

    /* Font sizes and spacing scales */

    @for $i from -2 to 10 {
    --font-size-$(i): calc(1rem * pow(var(--font-ratio), $(i)));
    }
       
    @for $i from -2 to 10 {
    --spacing-$(i): calc(1rem * pow(var(--line-ratio), $(i)));
    }

    /* --spacing-0: 0; */
}

/* Reset base font */

html {
    font-size: var(--root-size);
}

/* Apply line height to all elements */

body {
    line-height: var(--line-ratio);
}