/* Ratios */

:root {
	--font-base: 16px;
	--font-ratio: 1.333;
	--line-ratio: 1.5;
	--spacing-ratio: 1;
}

/* Font styling */

:root {
	--cap-height: 0.75;
	--tab-size: 2;
	--letter-spacing-body: -0.03em;
	--letter-spacing-heading: -0.03em;
	--font-family-body: "Helvetica Neue", sans-serif;
	--font-family-heading: "Helvetica Neue", sans-serif;
	--font-family-code: "Andale Mono", monospace;
	--font-weight-heading: bold;
}

/* Typsetting */

:root {
	--font-size-body: var(--font-size-0);
	--font-size-h1: var(--font-size-7);
	--font-size-h2: var(--font-size-5);
	--font-size-h3: var(--font-size-4);
	--font-size-h4: var(--font-size-2);
	--font-size-h5: var(--font-size-1);
	--font-size-h6: var(--font-size-0);
	--font-size-blockquote: var(--font-size-body);
	--font-size-small: var(--font-size--1);
}
